#root {
 
 
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
  text-decoration: none;
}

#homepage {
  /* background-color: rebeccapurple; */
}

#movie-card {
  background-color: grey;
}

span {
  padding: 10px;
}